header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 3rem;
  min-height: 50px;
  color: #fff;
  background: #6973dd;
  border: 1px solid transparent;
  border-radius: 0;

  .input-group {
    float: right;
    width: auto;
    margin: 0.7rem 1.5rem 0;

    label {
      margin-right: 8px;
      font-weight: 600;
    }

    select {
      height: 25px;
      padding: 0 8px;
      font-size: 0.8rem;
    }

    .bi {
      color: #fff;
    }
  }

  i {
    margin: 0.2rem;
    font-size: 1.2rem;
    color: #fff;

    &:hover {
      color: #1cb5e0;
    }

    &.bi-house {
      float: left;
      margin-left: 1.5rem;
      font-size: 1.7rem;
    }

    &.bi-search {
    }

    &.bi-star-fill,
    &.bi-heart-fill {
      color: #e50914;
      animation: blink 0.4s;

      &.bi-star-fill-white,
      &.bi-heart-fill-white {
        color: #fff;
      }
    }

    @keyframes blink {
      50% {
        color: red;
      }
    }
  }

  .selected {
    i {
      color: #fff;
    }
  }
}

// --------------
// Mobile (big)
@media (max-width: 720px) {
  .input-group {
    width: 150px;
  }
}

// --------------
// Mobile (small)
@media (max-width: 480px) {
  header {
    .input-group {
      margin: 0.7rem 0.5rem 0;

      select {
        width: 150px;
      }
    }
  }
}
